@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Pacifico&family=Roboto:ital,wght@1,300&family=Rye&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: 'ephesis', cursive;
    font-style: normal;
    font-weight: 400;
    background-color: rgb(95, 130, 206);
    font-size: x-large;
    color: #ff0015;
}
#navbar {
    background: #141414;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar a {
    text-decoration: none;
    color: #0a2df3;
    padding: 14px;
    font-size: 20px;
}
#navbar a:hover {
    color: #ff0015;
    text-shadow: 1px 1px #000000;
}
#navbar #logo {
    margin-right: auto;
}
#hero {
    width: 100vw;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background:#000000;
    background-size: cover
}