@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@1,300&family=Rye&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: 'Pacifico', cursive;
    font-style: normal;
    font-weight: 400;
    background-color: rgb(95, 130, 206)
}
#navbar {
    background: linear-gradient(to left,#86f26b, #b0e7e4);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar a {
    text-decoration: none;
    color: #091140;
    padding: 14px;
    font-size: 20px;
}
#navbar a:hover {
    color: #ff0015;
    text-shadow: 1px 1px #000000;
}
#navbar #logo {
    margin-right: auto;
}

#hero {
    width: 100vw;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-image: url(../images/;
    background-size: cover
}
@media screen and (max-width: 1024px) and (min-width: 480px) {
    #navbar {
        flex: wrap;
        text-align: center;
        flex-direction: column;
    }
    #navbar a {
        flex: 140px;
        font-size: 1.05rem;
    }
    #hero h1 {
        font-size: 3.75rem;
    }
    #navbar h1 {
        flex-direction: row;
    }
    #hero h3 {
        font-size: 2.75rem;
    }
    #hero p {
        font-size: 2.50rem;
    }
}

@media screen and (max-width: 500px) and (min-width: 420px) {
    #hero h1 {
        font-size: 2.50rem;
    }
    #hero h3 {
        font-size: 1.75rem;
    }
   #hero p {
    font-size: 1.50rem;
   }
}