@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Pacifico&family=Roboto:ital,wght@1,300&family=Rye&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: 'Ephesis', cursive;
    font-style: normal;
    font-weight: 20;
background-color: #141414;
}
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar a:hover {
    color: #ff0015;
}
#navbar a {
    text-decoration: none;
    color: #0a2df3;
    padding: 14px;
    font-size: 20px;
}
#navbar #logo {
    margin-right: auto;
}

#hero {
    width: 100vw;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90vh;
    background: radial-gradient(#ff0000, #000000);
    background-size: cover;
    background-image: url(../images/AdobeStock_299858093.jpeg);
}
#hero h1 {
    margin-top: .5rem;
    font-size: 8vw;
    color: #bfc569;
    text-shadow: -1px 1px 2px #091140;
    padding: 15px;
    
}
#hero h3 {
    font-size: 3vw;
    color: #bfc569;
    text-shadow: -1px 1px 2px #000000;
}

#hero a {
    font-size: 50px;
    border-radius: 5px;
    background-color: rgb(255, 0, 0), 174, 174);
    padding: 7px;
    font-weight: 200;
    margin-top: 2rem;
    color:#F2F2F2;
    text-decoration: none;
    text-shadow: -1px 1px 1px #F2C1AE;
}

#hero a:hover {
    background-color: rgb(241, 19, 19), 0, 166);
    transition: 0.7s;
}

#layout {
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
    color: #0a2df3;
    font-size: xx-large;
}

.vertical-masonry-gallery {
    columns: 3 auto;
    column-gap: 24px;
}

.vertical-masonry-gallery img {
    width: 100%;
    margin-bottom: 24px;
}

@media screen and (max-width: 1024px) and (min-width: 480px) {
    #navbar {
        flex: wrap;
        text-align: center;
        flex-direction: column;
    }
    #navbar a {
        flex: 140px;
        font-size: 1.05rem;
    }
    #hero h1 {
        font-size: 3.75rem;
    }
    #navbar h1 {
        flex-direction: row;
    }
    #hero h3 {
        font-size: 2.75rem;
    }
    #hero p {
        font-size: 2.50rem;
    }
}

@media screen and (max-width: 500px) and (min-width: 420px) {
    #hero h1 {
        font-size: 2.50rem;
    }
    #hero h3 {
        font-size: 1.75rem;
    }
   #hero p {
    font-size: 1.50rem;
   }
}