* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#hero {
    background-image: url(../images/Untitled-2.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    justify-content:flex-end;
}


#navbar {
    background: rgb(36, 33, 33);
    display:flex ;
    align-items: center;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 13px;
    padding-bottom: 12px;
}

#navbar a:hover {
    background:;
}
dropdown-container {
    position: relative;
}
.dropdown-menu {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: 
        opacity 0.25,
        visibility 0.25;
}

.dropdown-container:last-child .dropdown-menu {
    right: 0px;
}

.dropdown-menu a {
    background-color: rgb(0, 0, 0);
    width:100%;
    min-width: 200px;
}
#navbar .dropdown-menu a:hover {
    background: rgb(52, 29, 202)02, 205);
}
.dropdown-container:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;

}
.app {
    background-color: antiquewhite;
}

#layout {
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
}

.basic-grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.basic-grid-gallery img {
    width: 100%;
    object-fit: cover;
}

#footer {
    background: linear-gradient(to bottom, teal, #01482e);
    color: white;
    padding: 12px;
}

#footer a {
    text-decoration: none;
    color: white;
}

#footer-navbar {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}