* {
    box-sizing:border-box
}
body {
    margin: 0px;
    font-family: sans-serif;
    background-image: url(../images/pngtree-yellow-green-background-stock-images-wallpaper-image_769660.jpg);
    
}

#grid-layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: "header header"
    "sidebar main";
}

#header {
    grid-area: header;
    padding: 0px ;
}

#header a {
    text-decoration: none;
}

#header #me {
    color: #111111;
}

#header #tube {
    color: white;
    background-color: peru;
    padding: 4px;
    border-radius: 12px;
    border: red;
}

#sidebar {
    padding: 0px 24px;
    grid-area: sidebar;
}

#sidebar ul {
    padding: 12px 0px;
    margin: 0px;
    list-style-type: none;
    border-bottom: 1px solid #aaa;
}

#sidebar ul a {
    text-decoration: none;
    color: #111;
    display: block;
    padding: 12px;
}

#sidebar ul a:hover {
    background-color: peru;
    border-radius: 12px;
    color:white;
}

#main {
    display: flex;
    grid-area:main;
    flex-wrap: wrap;
}

.metube-item {
    flex: 250px;
    margin-right: 12px;
    margin-bottom: 24px;
}

.metube-item .thumbnail-placeholder {
    aspect-ratio: 16 / 9;;
    background-image: url(../images/tres-leches-cake-with-fruit.jpg);
    background-size: cover;
    border-radius: 8px;
    background-repeat: no-repeat;
}

.metube-item:nth-of-type(2) .thumbnail-placeholder {
    background-image: url(../images/meme-review.jpeg)
}

.metube-item:nth-of-type(3) .thumbnail-placeholder {
    background-image:url(../images/horror.jpg) ;
}

.metube-item h4 {
    margin:8px;
}

.metube-item h4 a {
    text-decoration: none;
    color: #111;
    display: block;
}

.metube-item h4 a:hover {
    text-decoration: underline;
}

.metube-item .video-channel {
    margin-bottom: 4px;
}
#pic1{
    border-radius: 100%;
    width: 60px;
    display: flex;

}

.img {
    display: flex;
    flex-direction: row;
}

.img2 {
    display: flex;
    flex-direction: row;
}

#pic2 {
    border-radius: 100%;
    width: 60px;
    display: flex;
    height: 60px;
}

#channel1 {
    border-radius: 100%;
    width: 20px;
    height: 25px;
}

#channel2 {
    border-radius: 100%;
    width: 20px;
    height: 25px;
}

#channel3 {
    border-radius: 100%;
    width: 20px;
    height: 25px;
}

.video-channe1 {
    display: flex;
}

.video-channel2 {
    display: flex;
    align-items: center;
}

.video-channe3 {
    display: flex;
    align-items: center;
}
.video-channel2