body {
    background-color: aliceblue;
}

.header {
    text-align: center;
}
#phone {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    font-size: x-large;
}
#phone-1 {
    text-decoration: underline 2px;
}

#image {
    align-items: center;
    display: flex;
    justify-content: center;
    border: solid gray 1px;
    background-color: whitesmoke;
}
h1 {
    text-align: center;
    font-size: 55px;
}
#p1 {
text-align: center;
}
#p2 {
   
}
#promo {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: underline;
    flex-direction: column;
}

#p1 {
    font-family: sans-serif;
}

#buy {
 border-radius: 24px;
 border: solid black;
 color:white;
 background-color: black;
}

#tv {
    display:flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center
}

#sam {
    margin: ;
}